
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3{
  color: #000000be;
  min-width: 200px;
}
input:focus, textarea:focus{
  padding: 14px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;/*padding from top and bootom only*/
  padding: 48px 96px;
}
.small-titel{
  
  font-size: 16px;
  
}
.big-titel{
  color:#03DAC5;
  font-size: 20px;

}
.top-icons-container{
  display:flex;
  gap: 20px;
  align-items: center;

}
.project-form input[name="titel"], textarea {
  border: none;
  border-bottom: 1px solid #06dac5;
  padding-bottom: 8px;
}
.start {
  font-size: 12px;
  display: flex;
  gap: 8px;
  color: #000000c2;
  padding-block: 19px;
  align-items: center;
}
.start input[type="date"] {
  color: #939393;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #03dac5;
  padding: 5px;
}

.project-item {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #03DAC5;
  padding: 20px;
  margin-block: 21px;
  border-block: 1px solid #03dac5;
  border-right: 1px solid #03dac5;
}
.project-top-content {
  display: flex;
  text-transform: capitalize;
  width: 450px;
  padding-inline: 7px 70px;
  justify-content: space-between;
  cursor: pointer;
}
.project-button{
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.svg-inline--fa {
  color: #03dac5;
  padding-inline: 12px;
  font-size: 18px;
}
.svg-inline--fa + p {
  font-size: 11px;
  color: #484848;
  text-align: center;
}
.dates {
  display: flex;
  justify-content:flex-start;
  color: #00000079;
}

.dates > div {
  border-right: 2px solid #03DAC5;
  padding-inline: 10px;
  font-size: 12px;

}
.boldeDate {
  color: #000000d4;
  font-size: 13px;
}
.dates > div:last-child{
  border: none;
}

.projects-container {
  display: grid;
  margin: 8px;
  grid-template-columns: repeat(3, auto 1fr 1fr);
  justify-items: center;
  gap: 48px;
}
.projects-container aside {
  box-shadow: 1px 1px 1px 2px #aadfda;
  padding: 20px;
  list-style: none;
}
.projects-container aside li {
  color: #767676;
  border-bottom: 1px solid #40e3d3;
  padding-block: 11px;
  font-weight: 800;
  min-width: 200px;
}
.project-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;

}

.project-form button {
  color: #fff;
  border-radius: 57px;
  background-color: #40e3d3;
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  top: 178px;
  right: 583px;
  width: 55px;
  height: 55px;
}


.warningColor{
  color: red;
  font-weight: bold;
}
.complitedList li{
 color: red;
 border-bottom: 1px solid black;
 padding-block: 10px;
 font-weight: 800;
}